*{
    margin: 0;
    padding: 0;
}

.container {
    width: 70vw;
    border: 12px dotted #e97878;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    }
    
div.heading{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
  text-align: center;
  color: #0d1137;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px dotted black;
}

.heading h1{
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
    
    
}
p img{
    display: inline;
    width: 20px;
    font-style: italic;
    
    
}
p a{
    margin-left: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #0d1137;
    font-style: italic;
}

h2{
    display: block;
    text-align: left;
    margin-left: 100px;
    line-height: 50px;
    color: #e52165 
}

#profile p{
    display: block;
    text-align: justify;
    margin-left: 250px;
    color: #0d1137;
}
@media screen and (min-width: 425px) {
    #profile p{
     color: red;
     display: block;
     text-align: left;
     margin-left: 20px;
    }
  }

.side{
   width: 500px;
   
}
@media screen and (min-width: 425px){
    .side{
        width: 200px;
        
    }
}

#Education{
    display: flex;
    flex-direction: row;
   justify-content: right;
   color: #0d1137;
}
@media screen and (min-width: 425px){
    #Education{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 425px){
    .education-text  h4{
        display: block;
        font-size: 16px;
        text-align: left;
    }
}
.education-left-col{
    width: 100px;
}

.education-right-col{
    flex-basis: 70%;
    text-align:center;
}

.education-right-col{
    max-width: 1000px;
    margin-right: 100px;
    
}

.education-text {
   margin-top: 100px;
   
    font-size: 25px;
    line-height: 20px;

}
.education-text h4{
    margin-top: 1cm;
}
.education-text p {
    font-size: 16px;
    font-style: italic;
    display: block;
    text-align: start;
    margin-left: 100px;
    line-height: 30px;
}
@media screen and (min-width: 425px){
    .education-text p{
        margin-left: 5px;
        text-align: justify;
    }
}


.work-img{
    width: 500px;
    
 }
 @media screen and (min-width: 425px){
     .work-img{
         width:100px;
     }
 }
 #work{
     display: flex;
     flex-direction: row;
     justify-content: right;
     color: #0d1137;
 }
 .work-text li {
    font-size: 16px;
    font-style: italic;
    display: block;
    
    margin-left: 100px;
    line-height: 30px;
    
}
@media screen and (min-width: 425px){
    .work-text h2{
        font-size: 16px;
        margin-left: 2px;
    }
}
.work-text h4{
    display: block;
    text-align: start;
    margin-left: 100px;
    line-height: 30px;

}
@media screen and (min-width: 425px){
    .work-text h4{
        margin-left: 2px;
    }
}

@media screen and (min-width: 425px){
    .work-text li{
        margin-left: 2px;
    }
}

